.navbar-global {
  background-color: indigo;
}

.navbar-inverse .navbar-nav>li>a {
  color: #363636  !important;
}



.navbar-primary {
  background-color: #e7e7e7;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #FF6000;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #FF6000;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  /* border-bottom:solid 1px #FF6000; */
  color: #363636;
}

.navbar-primary-menu li a:hover {
  background-color: #FF6000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

th:hover{
background-color: #ebf3f9;
cursor: pointer;
}
th:active
{
background-color: #d8e7f3;
}
.navbar-inverse {
background-color: #e7e7e7 !important;
border-color: #FF6000 !important;
border-bottom: 5px;
}

.navbar-inverse .navbar-brand {
color:#363636 !important;
}
.navbar-fixed-top {
top: 0;
border-width: 0 0 3px  !important;
}

.btn-expand-collapse {

border-top: solid 3px #FF6000;
}


a
  .main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }

.grid-container
{
	display: grid;
  	grid-column-gap: 50px;
  	grid-row-gap: 50px;
	grid-template-columns: 48% 48%;
	padding: 10px;
}

.grid-item
{
	background-color: #ecf2f9;
	padding: 20px;
}

.item3
{
	grid-column-start: 1;
	grid-column-end: 3;
}

.item4
{
	grid-column-start: 1;
	grid-column-end: 3;
}


.grid-item:hover
{
	background-color: #d8e5f3;
}